<svg
  class="glass"
  viewBox="0 0 200 280"
  aria-hidden="true"
  focusable="false"
>

  <ellipse #shadow class="g-shadow" />

  <ellipse #rimBack class="g-rim-back" />

  <path #body class="g-body" />

  <g #liquid class="g-liquid"></g>
  <ellipse #surface class="g-surface" />

  <g #rings class="g-rings"></g>
  <g #meridians class="g-meridians"></g>

  <path #outline class="g-outline" />
  <ellipse #rim class="g-rim" />

  <path #highlightA class="g-highlight" />
  <path #highlightB class="g-highlight g-highlight-soft" />

  <g #callouts class="g-callouts"></g>

</svg>
